<div class="portfolios">
  <div class="portfolios-contenedor">
    <div class="ramses">
      <div class="cabecera">
        <div class="cabecera-datos">
          <h3>Datos Personales</h3>
          <p>Ramsés Moreno Rodriguez</p>
          <p>630149142</p>
          <p>rmorenor97@gmail.com</p>
          <p>Ramses</p>
          <p>ramses797</p>
        </div>
        <div class="cabecera-explicacion">
          <h3>Explicacion Personal</h3>
          <p>
            Me considero una persona bastante aplicada con las ideas claras,
            siempre intentando hacer lo maximo por aprender para poder sacar el
            maximo potencial de mi.
          </p>
        </div>
      </div>

      <div class="tecnologias">
        <h3>Tecnologias</h3>
        <div class="tecnologias-contenedor">
          <div class="html">
            <div class="circulo">
              <div class="circulo-interno">
                <div class="contenido">
                  <p>HTML</p>
                </div>
              </div>
              <div class="circulo-tapar"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="experiencias">
        <div class="experiencias-estudios">
          <div class="titulo">
            <h3>Estudios</h3>
          </div>
          <div class="estudio">
            <p>4/2018 - 4/2020</p>
            <p>Mislata, Valencia</p>
            <p>Desearrollo de Aplicaciones Web(DAW).</p>
            <p>
              Desarrollar tanto backend como
              fronend.kudhsflasgdfljagsdkfjygasjdgfjasgdfgnkscfguaisyfnyasdiuyfgygfysuidgfyasgd
            </p>
          </div>
        </div>
        <div class="experiencias-trabajos">
          <div class="titulo">
            <h3>Trabajos</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
