@import "src/app/styles";

.portfolios-contenedor {
  display: flex;
  justify-content: center;
  width: 100%;
  .ramses {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: $components-dark;
    margin: 50px 0 50px 0;
    padding: 50px 0 50px 0;

    .cabecera {
      display: flex;
      flex-direction: row;

      &-datos {
        display: flex;
        flex-direction: column;
        width: 40%;
        text-align: center;
      }
      &-explicacion {
        display: flex;
        flex-direction: column;
        width: 60%;
        text-align: center;
      }
    }

    .tecnologias {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 50px 0 50px 0;

      &-contenedor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .html {
          .circulo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            background: linear-gradient($emphasis-color 50%, #313131 50%);
            border-radius: 50%;
            transform: rotate(-36deg);

            &-interno {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 80px;
              height: 80px;
              background-color: $components-dark;
              border-radius: 50%;

              .contenido {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 10;
                transform: rotate(36deg);
                .icono {
                  font-size: 25px;
                }
                p {
                  color: $emphasis-color;
                }
              }
            }
            &-tapar {
              position: absolute;
              width: 100px;
              height: 100px;
              border-radius: 0 0 100% 100%;
              background-color: red;
              border-radius: 50%;
              background: linear-gradient(
                transparent 50%,
                $components-dark 50%
              );
              transform: scale(1.1) rotate(36deg);
            }
          }
        }
      }
    }

    .experiencias {
      display: flex;
      flex-direction: row;

      &-estudios,
      &-trabajos {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        .titulo {
          text-align: center;
        }
        .estudio {
          padding-right: 50px;
        }
      }
    }
  }
}

h3,
p {
  color: $text-color-light;
}
