<div class="portfolios">
  <div class="portfolios-contenedor">
    <div class="ramses">
      <div class="cabecera">
        <div class="cabecera-datos">
          <i class="fas fa-user-tag icono-titulo"></i>
          <h3 class="titulo">Datos Personales</h3>
          <p><i class="fas fa-user icono"></i>Nombre:</p>
          <p>Ramsés Moreno Rodríguez</p>
          <p><i class="fas fa-mobile icono"></i>Teléfono:</p>
          <p>630149142</p>
          <p><i class="fas fa-envelope icono"></i>Correo:</p>
          <p>rmorenor97@gmail.com</p>
          <p><i class="fab fa-github icono"></i>Github:</p>
          <p>Ramses797</p>
          <p><i class="fab fa-linkedin icono"></i>Linkedin:</p>
          <p>Ramses</p>
        </div>
        <div class="cabecera-explicacion">
          <i class="fas fa-user-edit icono-titulo"></i>
          <h3 class="titulo">Explicacion Personal</h3>
          <p>
            Me considero una persona bastante aplicada con las ideas claras,
            siempre intentando hacer lo maximo por aprender para poder sacar el
            maximo potencial de mi.
          </p>
        </div>
      </div>

      <div class="tecnologias">
        <h3>Tecnologias</h3>
        <div class="tecnologias-contenedor">
          <div class="html">
            <div class="circulo">
              <div class="circulo-interno">
                <div class="contenido">
                  <svg width="48px" height="48px" viewBox="0 0 32 32">
                    <path
                      d="M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16s16-7.2,16-16S24.8,0,16,0z M16,1c3.8,0,7.3,1.4,10,3.8H6C8.8,2.3,12.3,1,16,1L16,1z
                     M6.4,5.8h19.2L16,25L6.4,5.8z M4.8,6V26C2.3,23.2,1,19.7,1,16C1,12.2,2.4,8.7,4.8,6L4.8,6z M27.2,6c2.5,2.7,3.8,6.3,3.8,10
                    c0,3.8-1.4,7.3-3.8,10V6z M5.8,6.8l9.7,19.4H5.8V6.8z M26.2,6.8v19.4h-9.7L26.2,6.8L26.2,6.8z M6,27.2H26c-2.7,2.5-6.3,3.8-10,3.8
                    S8.8,29.7,6,27.2L6,27.2z"
                    />
                  </svg>
                  <p>HTML</p>
                </div>
              </div>
              <div class="circulo-tapar"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="experiencias">
        <div class="experiencias-estudios">
          <div class="titulo">
            <h3>Estudios</h3>
          </div>
          <div class="estudio">
            <p>04/2016 - 04/2028</p>
            <p>Mislata, Valencia</p>
            <p>Sistemas Microinformaticos y Redes(SMR)</p>
            <p>
              Desarrollar tanto backend como
              fronend.kudhsflasgdfljagsdkfjygasjdgfjasgdfgnkscfguaisyfnyasdiuyfgygfysuidgfyasgd
            </p>
          </div>
          <div class="estudio">
            <p>04/2018 - 04/2020</p>
            <p>Mislata, Valencia</p>
            <p>Desearrollo de Aplicaciones Web(DAW).</p>
            <p>
              Desarrollar tanto backend como
              fronend.kudhsflasgdfljagsdkfjygasjdgfjasgdfgnkscfguaisyfnyasdiuyfgygfysuidgfyasgd
            </p>
          </div>
        </div>
        <div class="experiencias-trabajos">
          <div class="titulo">
            <h3>Trabajos</h3>
          </div>
          <div class="trabajo">
            <p>05/2020 - 08/2020</p>
            <p>Mislata, Valencia</p>
            <p>ICSolution</p>
            <p>Programador.</p>
            <p>
              Creacion de paginas web tanto en wordpress como en prestashop.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
