<div class="portfolios">
  <div class="portfolios-contenedor">
    <div class="ramses">
      <div class="cabecera">
        <div class="cabecera-datos">
          <i class="fas fa-user-tag icono-titulo"></i>
          <h3 class="titulo">Datos Personales</h3>
          <p><i class="fas fa-user icono"></i>Nombre:</p>
          <p>Ramsés Moreno Rodríguez</p>
          <p><i class="fas fa-mobile icono"></i>Teléfono:</p>
          <p>630149142</p>
          <p><i class="fas fa-envelope icono"></i>Correo:</p>
          <p>rmorenor97@gmail.com</p>
          <p><i class="fab fa-github icono"></i>Github:</p>
          <p>Ramses797</p>
          <p><i class="fab fa-linkedin icono"></i>Linkedin:</p>
          <p>Ramses</p>
        </div>
        <div class="cabecera-explicacion">
          <i class="fas fa-user-edit icono-titulo"></i>
          <h3 class="titulo">Explicacion Personal</h3>
          <p>
            Me considero una persona bastante aplicada con las ideas claras,
            siempre intentando hacer lo maximo por aprender para poder sacar el
            maximo potencial de mi.
          </p>
        </div>
      </div>

      <div class="tecnologias">
        <h3>Tecnologias</h3>
        <div class="tecnologias-contenedor">
          <div class="html">
            <div class="circulo">
              <div class="circulo-interno">
                <div class="contenido">
                  <p>HTML</p>
                </div>
              </div>
              <div class="circulo-tapar"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="experiencias">
        <div class="experiencias-estudios">
          <div class="titulo">
            <h3>Estudios</h3>
          </div>
          <div class="estudio">
            <p>04/2016 - 04/2028</p>
            <p>Mislata, Valencia</p>
            <p>Sistemas Microinformaticos y Redes(SMR)</p>
            <p>
              Desarrollar tanto backend como
              fronend.kudhsflasgdfljagsdkfjygasjdgfjasgdfgnkscfguaisyfnyasdiuyfgygfysuidgfyasgd
            </p>
          </div>
          <div class="estudio">
            <p>04/2018 - 04/2020</p>
            <p>Mislata, Valencia</p>
            <p>Desearrollo de Aplicaciones Web(DAW).</p>
            <p>
              Desarrollar tanto backend como
              fronend.kudhsflasgdfljagsdkfjygasjdgfjasgdfgnkscfguaisyfnyasdiuyfgygfysuidgfyasgd
            </p>
          </div>
        </div>
        <div class="experiencias-trabajos">
          <div class="titulo">
            <h3>Trabajos</h3>
          </div>
          <div class="trabajo">
            <p>03/17 - 06/17</p>
            <p>Quart de poblet, Valencia</p>
            <p>Ayuntamiento.</p>
            <p>Tecnico informatico.</p>
            <p>Montaje, instalacion y reparacion de ordenadores.</p>
          </div>
          <div class="trabajo">
            <p>09/2019 - 12/2019</p>
            <p>Mislata, Valencia</p>
            <p>ICSolution</p>
            <p>Programador.</p>
            <p>
              Creacion de paginas web tanto en wordpress como en prestashop.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
