<div class="contenedor flex-column w-100">
  <h2 class="title">¡Testimonios y Comentarios de nuestros clientes!</h2>
  <div class="contenedor-clientes">
    <div class="testimonios">
      <div class="testimonio" *ngFor="let testimonio of $testimonios | async">
        <h3 class="testimonio-nombre">{{ testimonio.nombre | uppercase }}</h3>
        <video class="testimonio-reproductor" controls>
          <source src="{{ testimonio.video }}" type="video/mp4" />
        </video>
        <div class="contenedor-tags">
          <label class="testimonio-tags" *ngFor="let tags of testimonio.tag">{{
            tags | uppercase
          }}</label>
        </div>
        <h4>Comentario del CEO</h4>
        <p class="testimonio-comentario">{{ testimonio.comentario }}</p>
        <a
          class="testimonio-enlace"
          href="{{ testimonio.url }}"
          target="_blank"
        >
          <label>Ir al sitio Web</label>
        </a>
      </div>
    </div>
    <div class="comentarios">
      <form class="comentario-form" #comentarioForm="ngForm">
        <label
          class="comentario-etiqueta"
          for="empresa"
          [ngClass]="{
            invalid: empresa.invalid && (empresa.dirty || empresa.touched)
          }"
        >
          Nombre Empresa*
          <input
            class="input"
            id="empresa"
            type="text"
            name="empresa"
            #empresa="ngModel"
            [(ngModel)]="comentario.nombreEmpresa"
            placeholder="ENCODERAPE"
            required
          />
          <i class="fas fa-question input-icon"></i>
          <span
            class="tooltip"
            [ngClass]="{
              active: empresa.invalid && (empresa.dirty || empresa.touched)
            }"
          >
            El campo "nombre empresa" no puede estar vacío.
          </span>
        </label>
        <label
          class="comentario-etiqueta"
          for="comentario"
          [ngClass]="{
            invalid: coment.invalid && (coment.dirty || coment.touched)
          }"
        >
          Comentario*
          <input
            class="input"
            id="comentario"
            type="text"
            name="coment"
            #coment="ngModel"
            [(ngModel)]="comentario.comentario"
            placeholder="Escríbenos un comentario ..."
            required
          />
          <i class="fas fa-question input-icon"></i>
          <span
            class="tooltip"
            [ngClass]="{
              active: coment.invalid && (coment.dirty || coment.touched)
            }"
          >
            El campo "comentario" no puede estar vacío.
          </span>
        </label>
        <button
          type="submit"
          class="boton"
          [ngClass]="{ disabled: comentarioForm.invalid }"
          [disabled]="comentarioForm.invalid"
          (click)="doSubmit()"
        >
          <label>ENVIAR</label>
        </button>
      </form>
      <div
        class="contenedor-comentarios"
        *ngFor="let coment of $comentarios | async"
      >
        <h3>{{ coment.nombreEmpresa }}</h3>
        <p>{{ coment.comentario }}</p>
      </div>
    </div>
  </div>
</div>
