@import "src/app/styles";

.cabecera {
  background-color: $components-dark;

  &-contenedor {
    justify-content: center;

    & img {
      width: 30%;
      cursor: pointer;
      filter: drop-shadow(0 0 0.5px $emphasis-color);
    }
  }
}
