@import "src/app/styles";

.contenedor-contacto {
  margin: 20px 0;
}

.contacto {
  width: 70%;
  align-items: center;
  padding: 10px 20px;

  &-formulario {
    padding: 0 30px;

    .dato {
      &-etiqueta.invalid {
        .input {
          border-bottom-color: $color-error;
          box-shadow: 0 2px $color-error;
        }

        .input-icon {
          color: $color-error;
          border-bottom-color: $color-error;
          box-shadow: 0 2px $color-error;
        }
      }
      &-etiqueta {
        .input {
          width: 250px;
        }

        .input-icon {
          font-size: 20px;
          color: $text-color-dark;
          padding: 5px;
          border-bottom: 1px solid $emphasis-color;
          transition: 0.5s;
        }
      }
    }

    .tipo {
      &-etiqueta {
        justify-content: space-around;
        align-items: center;
        width: 160px;
        height: 100px;
        text-align: center;
        cursor: pointer;
        transition: 0.5s;

        &:hover,
        &.active {
          color: $emphasis-color;
          box-shadow: 0 2px $emphasis-color;

          .checkbox-icon {
            color: $emphasis-color;
          }
        }
      }
    }

    .descripcion {
      align-items: center;
      margin: 20px 30px;

      &-etiqueta {
        align-items: center;

        .textarea {
          flex-grow: 1;
          margin-right: 40px;
          height: 70px;
        }
      }
    }

    .prioridad {
      margin: 20px 10px;

      & div {
        width: 50%;
        justify-content: space-around;
        align-items: center;
      }

      &-etiqueta {
        justify-content: space-around;
        align-items: center;
        width: 100px;
        height: 80px;
        text-align: center;
        cursor: pointer;
        transition: 0.5s;

        &:hover,
        &.active {
          color: $emphasis-color;
          box-shadow: 0 2px $emphasis-color;

          .radiobutton-icon {
            color: $emphasis-color;
          }
        }
      }
    }

    .terminos {
      margin: 20px 0;

      &-etiqueta {
        width: 60%;
        align-items: center;

        .checkbox-terminos {
          width: 20px;
          height: 20px;
          cursor: pointer;
          border: none;
          box-shadow: inset 0 0 0 1px $emphasis-color;
          transition: 0.5s;

          &:hover {
            box-shadow: inset 0 0 0 10px #1ebbca;
          }

          &:checked {
            box-shadow: inset 0 0 0 10px $emphasis-color;
          }
        }

        & small {
          margin-left: 10px;
        }
      }
    }
  }
}

.informacion {
  width: 30%;
  align-items: center;
  padding: 10px 20px;

  &-contacto {
    align-items: center;
    margin: 20px 0;

    & div {
      width: 70%;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;
    }
  }

  &-redes {
    margin: 20px 0;

    & a {
      align-items: center;
    }

    .icon {
      color: $emphasis-color;
      font-size: 30px;
      margin-right: 5px;
    }

    .enlaces {
      cursor: pointer;

      &:hover {
        color: $emphasis-color;
        text-decoration: underline;
      }
    }
  }
}

.contacto-cabecera,
.informacion-cabecera {
  padding: 10px 0;
}

.input,
.textarea {
  margin-left: 5px;
  padding: 3px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $emphasis-color;
  transition: 0.5s;

  &:hover,
  &:focus {
    box-shadow: 0 2px $emphasis-color;
    color: $emphasis-color;

    & ~ .input-icon {
      box-shadow: 0 2px $emphasis-color;
      color: $emphasis-color;
    }
  }
}

.checkbox,
.radiobutton {
  display: none;
}

.checkbox-icon,
.radiobutton-icon {
  font-size: 40px;
  color: $text-color-dark;
  padding: 5px;
  transition: 0.5s;
}

.dato,
.tipo {
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
}
