<section class="main">
  <div class="main-contenedor">
    <div class="main-contenedor-arriba">
      <img class="imagen" src="assets/img/mainTop.png" />
      <div class="opcion">
        <h1 class="opcion-titulo">
          UN CLIENTE SATISFECHO ES LA MEJOR ESTRATEGIA DE NEGOCIO
        </h1>
        <button class="opcion-boton">CONTACTO</button>
      </div>
    </div>
    <div class="main-contenedor-equipo">
      <div class="imagenes">
        <img class="imagen1" src="assets/img/main2.jpg" />
        <img class="imagen2" src="assets/img/main2-1.jpg" />
      </div>
      <div class="textos">
        <h2 class="titulo">UNETE A NOSOTROS</h2>
        <h3 class="texto">UN EQUIPO DE CONFIANZA</h3>
        <h3 class="texto">ESTUDIAMOS Y ANALIZAMOS LA OFERTAS</h3>
        <h3 class="texto">OFRECEMOS UN SERVICO DE CALIDAD</h3>
      </div>
    </div>
  </div>
</section>
