<div class="main">
  <div class="main-contenedor">
    <div class="main-contenedor-arriba">
      <img class="imagen" src="assets/img/mainTop.png" />
      <div class="opcion">
        <h1 class="opcion-titulo">HAGAMOS REALIDAD TU PROYECTO</h1>
        <button class="opcion-boton">CONTACTO</button>
      </div>
    </div>
    <div class="main-contenedor-servicios">
      <h2>NUESTROS SERVICIOS</h2>
      <div class="items">
        <div class="item">
          <i class="fas fa-laptop icono"></i>
          <h3 class="texto">Desarrollo Web</h3>
        </div>
        <div class="item">
          <i class="fas fa-mobile icono"></i>
          <h3 class="texto">Desarrollo Móvil</h3>
        </div>
        <div class="item">
          <i class="fas fa-pencil-ruler icono"></i>
          <h3 class="texto">UX/UI</h3>
        </div>
        <div class="item">
          <i class="fas fa-tools icono"></i>
          <h3 class="texto">Mantenimiento</h3>
        </div>
      </div>
      <button class="boton" routerLink="servicios">Servicios</button>
    </div>
    <div class="main-contenedor-clientes">
      <h2 class="titulo">CLIENTES</h2>
      <div class="contenedor-logos">
        <img src="assets/img/logo.png" />
      </div>
    </div>
    <div class="main-contenedor-equipo">
      <div class="bloque1">
        <img class="imagen" src="assets/img/main2.jpg" />
        <div class="contenedor">
          <h2 class="titulo">
            Un cliente satisfecho es la mejor estrategia de negocio.
          </h2>
          <h3 class="subtitulo">
            jhsjhajhbhjbchjbjhahbshjbjcbhjabjshjcbjhavshjcjabsjcjahschbhjckadbhjasdkhahdsgfkjhGSDGFHDSFG
          </h3>
        </div>
      </div>
      <div class="bloque2">
        <img class="imagen" src="assets/img/main2-1.jpg" />
        <div class="contenedor">
          <h2 class="titulo">
            Estudiamos y analizamos las ofertas para ofrecer un servicio de
            calidad.
          </h2>
          <h3 class="subtitulo">
            jhsjhajhbhjbchjbjhahbshjbjcbhjabjshjcbjhavshjcjabsjcjahschbhjckadbhjasdkhahdsgfkjhGSDGFHDSFG
          </h3>
        </div>
      </div>
    </div>
    <div class="main-contenedor-bajo">
      <h2>HAGAMOS REALIDAD TU PROYECTO</h2>
      <div>
        <button class="boton">CONTACTO</button>
      </div>
    </div>
  </div>
</div>
