@import "src/app/styles/index.scss";

.main {
  width: 100%;

  &-contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-arriba {
      position: relative;
      width: 100%;
      height: 600px;
      .imagen {
        width: 100%;
        height: 600px;
        opacity: 0.7;
      }
      .opcion {
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;

        &-titulo {
          color: $text-color-dark;
        }

        &-boton {
          background: $emphasis-color;
          color: $text-color-light;
          border: none;
          margin-top: 50px;
          padding: 10px 25px;
        }
        &-boton:hover {
          background-color: $emphasis-color-hover;
        }
      }
    }

    &-clientes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $text-color-light;
      background-color: $components-dark;
      padding-top: 60px;
      padding-bottom: 60px;

      .contenedor-logos {
        margin-top: 30px;
      }
    }

    &-servicios {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 70px;
      margin-bottom: 70px;

      .contenedor-web {
        margin-left: 15%;
      }
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        opacity: 0.4;

        .icono {
          font-size: 60px;
          margin-bottom: 30px;
          color: $emphasis-color;
        }
      }
      .item:hover {
        opacity: 1;
        transition: opacity 0.5s;
      }
    }

    &-equipo {
      display: flex;
      flex-direction: column;
      text-align: center;

      .bloque1 {
        display: flex;
        flex-direction: row;

        .contenedor {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 50%;
        }
        .titulo {
          color: $emphasis-color;
          text-align: center;
        }
        .subtitulo {
          color: $text-color-dark;
          margin-top: 30px;
        }
        .imagen {
          width: 50.3%;
          height: 500px;
          margin-right: 20px;
        }
      }
      .bloque2 {
        display: flex;
        flex-direction: row-reverse;

        .contenedor {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 50%;
        }
        .titulo {
          color: $emphasis-color;
        }
        .subtitulo {
          color: $text-color-dark;
          margin-top: 30px;
        }
        .imagen {
          width: 50.4%;
          height: 500px;
        }
      }
    }

    &-bajo {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 70px;

      .boton {
        background: $emphasis-color;
        border: none;
        color: $text-color-light;
        margin-top: 50px;
        padding: 10px 25px;
      }
      .boton:hover {
        background-color: $emphasis-color-hover;
      }
    }
  }
}
