@import "src/app/styles/index.scss";

.main {
  width: 100%;

  &-contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-arriba {
      position: relative;
      display: inline-block;
      width: 100%;
      box-shadow: 0 0 5px 0 #cccccc;

      .imagen {
        width: 100%;
        height: 650px;
        opacity: 0.7;
      }
      .opcion {
        position: absolute;
        top: 40%;
        width: 100%;
        text-align: center;

        &-titulo {
          color: $text-color-dark;
        }

        &-boton {
          background: transparent;
          border: 2px solid $emphasis-color;
          color: $emphasis-color;
          margin-top: 50px;
          padding: 10px 30px 10px 30px;
        }
      }
    }

    &-equipo {
      display: flex;
      flex-direction: row;
      height: 600px;
      margin-top: 100px;

      .imagenes {
        margin-left: 300px;

        .imagen1 {
          float: left;
          margin-right: 500px;
          box-shadow: 5px 5px 5px 5px #cccccc;
        }
        .imagen2 {
          position: absolute;
          width: 450px;
          height: 298px;
          left: 470px;
          margin-top: 110px;
          box-shadow: 5px 5px 5px 5px #cccccc;
        }
      }

      .textos {
        .titulo {
          color: $emphasis-color;
        }
        .texto {
          left: 50%;
          margin-top: 50px;
          color: #83899b;
        }
      }
    }
  }
}
