<div class="servicios">
  <div class="servicios-contenedor">
    <div class="servicios-contenedor-steps">
      <h2>Etapas de Desarrollo</h2>
      <div id="botonera" class="botonera">
        <a id="boton1" class="boton activado" href="servicios#slide1">1</a>
        <div id="separador1" class="separador"></div>
        <a id="boton2" class="boton desactivado" href="servicios#slide2">2</a>
        <div class="separador desactivado"></div>
        <a id="boton3" class="boton desactivado" href="servicios#slide3">3</a>
        <div class="separador desactivado"></div>
        <a id="boton4" class="boton desactivado" href="servicios#slide4">4</a>
      </div>
      <div class="contenido">
        <div class="imagenes">
          <img class="imagen" src="../../../../assets/img/analisis.jpg" />
        </div>
        <ul id="slider" class="texto">
          <li id="slide1" class="texto-item">
            <h2 class="texto-item-titulo">Analisis</h2>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Solicitud de consulta</h3>
              <p>
                Completa el formulario de consulta en el apartado de Contacto.
                Asi nos ayudaras a prepararnos pra la reunion.
              </p>
            </div>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Reunion</h3>
              <p>Contactaremos contigo para indicar una fecha de reunion.</p>
            </div>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Análisis de proyecto</h3>
              <p>
                Estudiaremos la propuesta y las necesidades del usuario para
                sacarle su maximo potencial.
              </p>
            </div>
          </li>
          <li id="slide2" class="texto-item">
            <h2 class="texto-item-titulo">Planificación</h2>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Estimación del proyecto</h3>
              <p>Enviaremos una estimacion detallada del proyecto.</p>
            </div>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Proramacion del proyecto</h3>
              <p>
                Planificamos el proyecto de acuerdo con la estimacion enviada.
              </p>
            </div>
          </li>
          <li id="slide3" class="texto-item">
            <h2 class="texto-item-titulo">Planificación</h2>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Creacion de codigo</h3>
              <p>Traducimos tu idea a codigo.</p>
            </div>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Revision y pruebas</h3>
              <p>
                Nos involucramos mucho en este punto, con la intencion que no
                haya errores en vuestra aplicacion.
              </p>
            </div>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Puesta en escena y control de calidad</h3>
              <p>
                Probaremos vuestro proyecto en un entorno seguro antes de ser
                visto por los usuarios.
              </p>
            </div>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Lanzamiento del producto</h3>
              <p>Sacamos vuestro proyecto a la luz.</p>
            </div>
          </li>
          <li id="slide4" class="texto-item">
            <h2 class="texto-item-titulo">Planificación</h2>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Correccion de errores</h3>
              <p>
                Nos involucramos mucho en este punto, con la intencion que no
                haya errores en vuestra aplicacion.
              </p>
            </div>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Mejora continua</h3>
              <p>
                Analizamos los comentarios recibidos y dasarrollamos más codigo.
              </p>
            </div>
            <div class="texto-item-caracteristicas">
              <h3 class="subtitulo">Optimización</h3>
              <p>
                Cuando crece el numero de usuarios, optimizamos el codigo para
                un mayor rendimiento de la aplicación.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="servicios-contenedor-tecnologias">
      <h3 class="titulo">Tecnologias</h3>
      <div class="tecnologias">
        <div class="item">
          <img src="https://img.icons8.com/color/48/000000/angularjs.png" />
          <p class="item-nombre">Angular</p>
        </div>
        <div class="item">
          <img src="https://img.icons8.com/color/48/000000/react-native.png" />
          <p class="item-nombre">React</p>
        </div>
        <div class="item">
          <img src="https://img.icons8.com/color/48/000000/vue-js.png" />
          <p class="item-nombre">Vue</p>
        </div>
        <div class="item">
          <img src="https://img.icons8.com/color/48/000000/python.png" />
          <p class="item-nombre">Python</p>
        </div>
        <div class="item">
          <img src="https://img.icons8.com/color/48/000000/nodejs.png" />
          <p class="item-nombre">Node</p>
        </div>
        <div class="item">
          <img src="https://img.icons8.com/color/48/000000/mongodb.png" />
          <p class="item-nombre">Mongo</p>
        </div>
      </div>
    </div>
    <div class="servicios-contenedor-caracteristicas">
      <h2 class="titulo">Nuestros Servicios</h2>
      <div class="item">
        <div class="item-texto item-texto_izquierda">
          <h2 class="titulo">Desarrollo de Aplicaciones Web</h2>
          <h3 class="subtitulo">
            Nos encanta apoyar a nuestros clientes en la creación de nuevas
            soluciones. Cruzamos fronteras utilizando tecnologías probadas,
            introducimos innovaciones que traen efectos favorables. Gracias a
            los principios ágiles, antes de su lanzamiento, su producto se
            somete a múltiples pruebas y mejoras. Así es como las aplicaciones
            cumplen con las expectativas.
          </h3>
        </div>
        <div class="item-imagen"></div>
      </div>
      <div class="item">
        <div class="item-imagen"></div>
        <div class="item-texto">
          <h2 class="titulo">Desarrollo de Aplicaciones Moviles</h2>
          <h3 class="subtitulo">
            Le ayudaremos a llegar a los clientes sin importar dónde se
            encuentren. Al crear soluciones, tenemos en cuenta factores tales
            como: facilidad de uso, intuición, usabilidad y capacidad de
            respuesta. Creamos aplicaciones nativas para iOS y Android,
            ¡entregando un poco más de lo esperado!
          </h3>
        </div>
      </div>
      <div class="item">
        <div class="item-texto item-texto_izquierda">
          <h2 class="titulo">UI/UX</h2>
          <h3 class="subtitulo">
            El diseño sobresaliente comienza con la determinación de las
            necesidades de los usuarios. Primero construimos la personalidad del
            usuario y las rutas del usuario, luego creamos proyectos distintivos
            pero funcionales, conscientes de las tendencias pero trabajando
            hacia nuevos estándares.
          </h3>
        </div>
        <div class="item-imagen"></div>
      </div>
      <div class="item">
        <div class="item-imagen"></div>
        <div class="item-texto">
          <h2 class="titulo">Mantenimiento</h2>
          <h3 class="subtitulo">
            Le ayudaremos a llegar a los clientes sin importar dónde se
            encuentren. Al crear soluciones, tenemos en cuenta factores tales
            como: facilidad de uso, intuición, usabilidad y capacidad de
            respuesta.
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
