$background: #f5f5f5;
$emphasis-color: #0999a6;
$emphasis-color-hover: #16a8b6;
$components-dark: #292929;
$text-color-light: #f5f5f5;
$text-color-dark: #292929;
$text-component-light: #83899b;
$border-color: #999999;
$color-success: #6fc84d;
$color-error: #e8505b;
$color-info: #3282b8;
$color-warning: #fcf876;
