h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 35px;
  font-weight: 800;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 29px;
  font-weight: 600;
}

h3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
h4 {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

p {
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

button {
  font-size: 16px;
  font-weight: 800;
}
