@import "src/app/styles/index.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 8px;

    &-track {
      background: transparent;
    }

    &-thumb {
      background: #24292e;
    }
  }
}
