@import "src/app/styles";

.contenedor {
  &-qya {
    display: flex;
    margin: 20px 0;

    @include mobileL {
      flex-direction: column;
      align-items: center;
    }
  }
}

.respuestas {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;

  /*@include mobileL{
    width: 95%;
  }*/

  .ayuda {
    margin: 10px;
    padding: 10px;
    border: 1px solid $emphasis-color;
    box-shadow: 1px 1px 3px $components-dark;
    transition: 0.5s;

    &:hover {
      transform: translate(5px, 5px);
    }

    &-pregunta {
      margin-bottom: 10px;
      margin-left: 15px;
      color: $emphasis-color;
    }

    &-respuesta {
      text-align: justify;
      margin: 0 5px;
    }
  }
}

.preguntas {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;

  /*@include mobileL{
    width: 90%;
  }*/

  &-etiqueta {
    position: relative;
    margin: 20px 0;

    &.invalid {
      .input {
        border-bottom-color: $color-error;
        box-shadow: 0 2px $color-error;
      }

      .input-icon {
        color: $color-error;
        border-bottom-color: $color-error;
        box-shadow: 0 2px $color-error;
      }
    }

    .input {
      width: 400px;
      border: transparent;
      border-bottom: 1px solid $emphasis-color;
      background-color: transparent;
      padding: 3px;
      margin-left: 5px;
      transition: 0.5s;

      @include laptop {
        width: 300px;
      }
      @include tablet {
        width: 200px;
      }

      &:hover,
      &:focus {
        box-shadow: 0 2px $emphasis-color;
        color: $emphasis-color;

        & ~ .input-icon {
          box-shadow: 0 2px $emphasis-color;
          color: $emphasis-color;
        }
      }
    }

    .input-icon {
      font-size: 20px;
      color: $text-color-dark;
      padding: 5px;
      border-bottom: 1px solid $emphasis-color;
      transition: 0.5s;
    }
  }

  .boton {
    margin-top: 20px;
    padding: 4px 8px;
    background-color: transparent;
    border: 3px solid $emphasis-color;
    cursor: pointer;
    transition: 0.5s;

    &.disabled {
      border-color: grey;
      pointer-events: none;
    }

    & label {
      transition: 0.5s;
      cursor: pointer;
    }

    &:hover {
      box-shadow: inset 0 0 0 10px $emphasis-color;
      background-color: $emphasis-color;

      & label {
        color: $text-color-light;
      }
    }
  }
}
