<footer class="footer flex-column w-100">
  <div class="links flex-row">
    <div class="links-group flex-column">
      <h3>SERVICIOS</h3>
      <a routerLink="">
        <p>Desarrollo de Aplicaciones Web</p>
      </a>
      <a routerLink="">
        <p>Desarrollo de Aplicaciones Móviles</p>
      </a>
      <a routerLink="">
        <p>UX/UI</p>
      </a>
      <a routerLink="">
        <p>Mantenimiento</p>
      </a>
    </div>
    <div class="links-group">
      <h3>NOSOTROS</h3>
      <a routerLink="">
        <p>Aplicaciones de nuestros clientes</p>
      </a>
      <a routerLink="nosotros">
        <p>Nuestra historia</p>
      </a>
      <a routerLink="">
        <p>Nuestro personal</p>
      </a>
      <a routerLink="contacto">
        <p>Contacto</p>
      </a>
    </div>
    <div class="links-group">
      <h3>AYUDA</h3>
      <a routerLink="">
        <p>¿Porqué confiar en nosotros?</p>
      </a>
      <a routerLink="">
        <p>¿Cómo trabajamos?</p>
      </a>
      <a routerLink="">
        <p>¿Qué garantías ofrecemos?</p>
      </a>
      <a routerLink="">
        <p>¿Cuánto tardamos?</p>
      </a>
    </div>
    <div class="links-group">
      <h3>TEXTOS LEGALES</h3>
      <a routerLink="">
        <p>Política de Privacidad</p>
      </a>
      <a routerLink="">
        <p>Política de Cookies</p>
      </a>
      <a routerLink="">
        <p>Condiciones de Uso</p>
      </a>
      <a routerLink="">
        <p>Aviso Legal</p>
      </a>
    </div>
    <div class="links-group-info flex-column">
      <div class="redes flex-row">
        <a routerLink="">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a routerLink="">
          <i class="fab fa-instagram-square"></i>
        </a>
        <a routerLink="">
          <i class="fab fa-linkedin"></i>
        </a>
        <a routerLink="">
          <i class="fab fa-twitter-square"></i>
        </a>
      </div>
      <p>ape@encoderape.com</p>
      <p>648183931</p>
    </div>
  </div>
  <div class="info flex-row">
    <img src="assets/img/logo.png" alt="Logotipo" />
    <p>©ENCODERAPE</p>
  </div>
</footer>
