@import "src/app/styles";

.footer {
  background-color: $components-dark;
  align-items: center;
  box-shadow: 0 -3px 3px $border-color;

  .links {
    margin-top: 10px;

    &-group {
      margin: 5px 20px;

      & h3 {
        color: $text-color-light;
      }

      & a {
        text-decoration: none;
        padding: 3px;
        transition: 0.3s;

        & p {
          color: $text-color-light;
        }

        &:hover {
          & p {
            color: $emphasis-color;
            text-decoration: underline $emphasis-color;
          }
        }
      }
    }

    &-group-info {
      margin: 15px 0 0 35px;

      & .redes {
        & a {
          text-decoration: none;
          margin: 0 3px;

          & i {
            color: $emphasis-color;
            font-size: 28px;
          }
        }
      }

      & p {
        color: $text-color-light;
      }
    }
  }

  .info {
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;

    & img {
      width: 10%;
      filter: drop-shadow(0 0 0.5px $emphasis-color);
    }

    & p {
      color: $emphasis-color;
    }
  }
}
