<div class="nosotros">
  <div class="nosotros-contenedor">
    <h2>CONOCENOS</h2>
    <div class="nosotros-contenedor-caracteristicas">
      <div class="item">
        <i class="fas fa-hands-helping item-icono"></i>
        <p class="item-titulo">Fiabilidad</p>
        <div class="item-texto">
          <p class="texto">
            A nuestros desarrolladores se les anima a decir lo que piensan. Asi
            es como creamos confianza y relaciones profundas con nuestros
            compañeros.
          </p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-users item-icono"></i>
        <p class="item-titulo">Equipo</p>
        <div class="item-texto">
          <p class="texto">
            Trabajamos como una extensión del equipo técnico central de nuestro
            cliente informamos directamente a los cofundadores técnicos, CTO o
            propietario de los productos.
          </p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-comment-alt item-icono"></i>
        <p class="item-titulo">Comunicacion</p>
        <div class="item-texto">
          <p class="texto">
            Nos comunicamos de forma sistematica para logar una vision clara del
            resultado.
          </p>
        </div>
      </div>
    </div>
    <div class="nosotros-contenedor-historia">
      <div class="bloque">
        <div class="item">
          <i class="fas fa-bookmark item-icono"></i>
          <p class="item-titulo">Creamos material de calidad</p>
          <div class="item-texto">
            <p class="texto">
              Los clientes son lo mas importante, para ellos creamos un analisis
              profundo del proyecto. Asi comprendemos las necesidades y la
              vision del proyecto para crear una experiencia de usuario de alta
              calidad.
            </p>
          </div>
        </div>
        <div class="item">
          <i class="fas fa-book-open item-icono"></i>
          <p class="item-titulo">Somos abiertos y transparentes</p>
          <div class="item-texto">
            <p class="texto">
              Propocionamos informes detallados de hojas de tiempos a nustros
              clientes. De esta manera creamos una confianza mutua.
            </p>
          </div>
        </div>
      </div>
      <div class="bloque">
        <div class="item">
          <i class="fas fa-lightbulb item-icono"></i>
          <p class="item-titulo">Innovamos</p>
          <div class="item-texto">
            <p class="texto">
              Estamos a la ultima en los nuevos desarrollos tecnológicos, aun
              asi innovamos cuando tiene sentido no experimentamos con el
              cliente.
            </p>
          </div>
        </div>
        <div class="item">
          <i class="fas fa-balance-scale item-icono"></i>
          <p class="item-titulo">Aprendemos y Trabajamos</p>
          <div class="item-texto">
            <p class="texto">
              Por supuesto lo primero es trabajar en vuestros proyectos, tambien
              nos encargamos de nuestro propio aprendizaje para ofreceros lo
              mejor de nosotros mismos.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="nosotros-contenedor-seleccionanos">
      <div class="trabajador">
        <img class="trabajador-imagen" src="assets/img/trabajador.jpg" />
        <p class="trabajador-nombre">Ramsés Moreno Rodríguez</p>
      </div>
      <div class="trabajador">
        <img class="trabajador-imagen" src="assets/img/trabajador.jpg" />
        <p class="trabajador-nombre">Alejandro González Romero</p>
      </div>
    </div>
    <div class="nosotros-contenedor-portfolio">
      <div class="ramses">
        <div class="cabecera">
          <div class="cabecera-datos">
            <h3>Datos Personales</h3>
            <p>Ramsés Moreno Rodriguez</p>
            <p>630149142</p>
            <p>rmorenor97@gmail.com</p>
            <p>Ramses</p>
            <p>ramses797</p>
          </div>
          <div class="cabecera-explicacion">
            <h3>Explicacion Personal</h3>
            <p>
              Me considero una persona bastante aplicada con las ideas claras,
              siempre intentando hacer lo maximo por aprender para poder sacar
              el maximo potencial de mi.
            </p>
          </div>
        </div>

        <div class="tecnologias">
          <h3>Tecnologias</h3>
          <div class="tecnologias-contenedor">
            <div class="html">
              <div class="circulo">
                <div class="circulo-interno">
                  <div class="contenido">
                    <p>HTML</p>
                  </div>
                </div>
                <div class="circulo-tapar"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="experiencias">
          <div class="experiencias-estudios">
            <div class="titulo">
              <h3>Estudios</h3>
            </div>
            <div class="estudio">
              <p>4/2018 - 4/2020</p>
              <p>Mislata, Valencia</p>
              <p>Desearrollo de Aplicaciones Web(DAW).</p>
              <p>
                Desarrollar tanto backend como
                fronend.kudhsflasgdfljagsdkfjygasjdgfjasgdfgnkscfguaisyfnyasdiuyfgygfysuidgfyasgd
              </p>
            </div>
          </div>
          <div class="experiencias-trabajos">
            <div class="titulo">
              <h3>Trabajos</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
