@import "src/app/styles";

.nosotros {
  width: 100%;

  &-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 60px 0 60px 0;

    &-caracteristicas {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 60px 0 60px 0;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 550px;
        margin: auto;

        &-icono {
          font-size: 30px;
          color: $emphasis-color;
        }

        &-titulo {
          color: $text-color-dark;
          font-size: 22px;
          margin: 10px 0 10px 0;
        }

        &-texto {
          width: 250px;
          text-align: center;
        }
      }
    }

    &-historia {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: $text-color-dark;
      margin: 60px 0 60px 0;

      .bloque {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-bottom: 50px;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 50px;

          &-icono {
            font-size: 30px;
            color: $emphasis-color;
          }

          &-titulo {
            color: $text-color-light;
            font-size: 22px;
            margin: 10px 0 10px 0;
          }

          &-texto {
            width: 70%;
            text-align: center;

            .texto {
              color: $text-color-light;
            }
          }
        }
      }
    }

    &-seleccionanos {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 30px;

      .trabajador {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: auto;

        &-imagen {
          width: 130px;
          height: 200px;
        }
      }
    }

    &-portfolio {
      .ramses {
        width: 90%;
        background-color: $components-dark;
        margin: 50px 0 50px 0;
      }
    }
  }
}
