<section class="nosotros">
  <div class="nosotros-contenedor">
    <h2>CONOCENOS</h2>
    <div class="nosotros-contenedor-caracteristicas">
      <div class="item">
        <i class="fas fa-hands-helping item-icono"></i>
        <p class="item-titulo">Fiabilidad</p>
        <div class="item-texto">
          <p>
            A nuestros desarrolladores se les anima a decir lo que piensan. Asi
            es como creamos confianza y relaciones profundas con nuestros
            compañeros.
          </p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-users item-icono"></i>
        <p class="item-titulo">Equipo</p>
        <div class="item-texto">
          <p>
            Trabajamos como una extensión del equipo técnico central de nuestro
            cliente informamos directamente a los cofundadores técnicos, CTO o
            propietario de los productos.
          </p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-comment-alt item-icono"></i>
        <p class="item-titulo">Comunicacion</p>
        <div class="item-texto">
          <p>
            Nos comunicamos de forma sistematica para logar una vision clara del
            resultado.
          </p>
        </div>
      </div>
    </div>
    <div class="nosotros-contenedor-historia">
      <div class="item">
        <i class="fas fa-bookmark item-icono"></i>
        <p class="item-titulo">Creamos material de calidad</p>
        <div class="item-texto">
          <p>
            Los clientes son lo mas importante, para ellos creamos un analisis
            profundo del proyecto. Asi comprendemos las necesidades y la vision
            del proyecto para crear una experiencia de usuario de lata calidad.
          </p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-book-open item-icono"></i>
        <p class="item-titulo">Somos abiertos y transparentes</p>
        <div class="item-texto">
          <p>
            Propocionamos informes detallados de hojas de tiempos a nustros
            clientes. De esta manera creamos una confianza mutua.
          </p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-lightbulb item-icono"></i>
        <p class="item-titulo">Innovamos</p>
        <div class="item-texto">
          <p>
            Propocionamos informes detallados de hojas de tiempos a nustros
            clientes. De esta manera creamos una confianza mutua.
          </p>
        </div>
      </div>
      <div class="item">
        <i class="fas fa-book-open item-icono"></i>
        <p class="item-titulo">Somos abiertos y transparentes</p>
        <div class="item-texto">
          <p>
            Propocionamos informes detallados de hojas de tiempos a nustros
            clientes. De esta manera creamos una confianza mutua.
          </p>
        </div>
      </div>
    </div>
    <div class="nosotros-contenedor-seleccionanos">
      <div class="trabajador">
        <img class="trabajador-imagen" src="assets/img/trabajador.jpg" />
        <p>Ramsés Moreno Rodríguez</p>
      </div>
      <div class="trabajador">
        <img class="trabajador-imagen" src="assets/img/trabajador.jpg" />
        <p>Alejandro González Romero</p>
      </div>
    </div>
  </div>
</section>
