<nav class="navegador">
  <ul class="menu">
    <li id="abrir" class="menu-abrir">
      <p>MENU</p>
    </li>
    <li id="servicios" class="menu-item">
      <a routerLink="servicios">
        <p>SERVICIOS</p>
      </a>
    </li>
    <li id="nuestrosClientes" class="menu-item">
      <a routerLink="clientes">
        <p>NUESTROS CLIENTES</p>
      </a>
    </li>
    <li id="sobreNosotros" class="menu-item">
      <a routerLink="nosotros">
        <p>SOBRE NOSOTROS</p>
      </a>
    </li>
    <li id="contacto" class="menu-item">
      <a routerLink="contacto">
        <p>CONTACTO</p>
      </a>
    </li>
    <li id="ayuda" class="menu-item">
      <a routerLink="ayuda">
        <p>AYUDA</p>
      </a>
    </li>
    <li id="cerrar" class="menu-item menu-cerrar">
      <i class="fas fa-times"></i>
    </li>
  </ul>
</nav>
