<nav class="navegador">
  <ul class="menu">
    <li class="menu-item">
      <a routerLink="servicios">
        <p>SERVICIOS</p>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="catalogo">
        <p>NUESTROS CLIENTES</p>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="nosotros">
        <p>SOBRE NOSOTROS</p>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="contacto">
        <p>CONTACTO</p>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="ayuda">
        <p>AYUDA</p>
      </a>
    </li>
  </ul>
</nav>
